

.header{
    position: relative;
    background-color: gray;
    background: url('../images/header-beckground.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.title-weather{
    text-align: center;
    margin: 1rem 0 2rem 0;
    color: #4d4d4d;
}