
.city-weather{
    h4{
        font-size: 1rem !important;
        color: #0e8ea6;
    }
    
    p{
        font-size: 1rem !important;
        color: #4d4d4d;
    }
    
    h2{
        font-size: 1.5rem !important;
        color: #0e8ea6;
        margin: 0.5rem !important;
    }
    
    h3{
        font-size: 1.45rem !important;
        color: #4d4d4d;
    }

}
